{% extends "base.html" %}

{% block title %}
Delete User
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
    <form method="post">
        <div class="d-flex justify-content-center"><h1 class="text-secondary">Delete User</h1></div>
        <br/>
        <div class="mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="delete-user-idlabel">ID</span>
                <input type="number"
                       class="form-control"
                       placeholder="User ID"
                       aria-label="User ID"
                       aria-describedby="delete-user-idlabel"
                       min="1"
                       oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null"
                       style="width: 150px"
                       id="delete-id"
                       name="delete-id">
                <button type="submit" class="btn btn-primary" style="width: fit-content">Delete</button>
            </div>
        </div>
    </form>
    </div>

    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User Name</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
        {% for single in all_users %}
            <tr>
                <th scope="row">{{ single.id }}</th>
                <td>{{ single.username }}</td>
                <td>{{ single.email }}</td>
                <td>
                    {% if single.role == "super" %}
                        God
                    {% else %}
                        {{ single.role.capitalize() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}